<h1>게시판</h1>
<p>글을 작성해주세요</p>
<form action="/post/create">
  제목:<input type="text" name="title" />
  내용:<textarea name="body"></textarea>
  <input type="submit" value="작성하기"/>
  <input type="hidden" name="id" value="hi"/>
</form>
